/carla
/perception/checkpoints/yolov4-416/assets
/perception/checkpoints/yolov4-416/variables
/perception/checkpoints/yolov4-416/saved_model.pb
/perception/CULane/*
/perception/PSMNet_asset/trained/pretrained_model_KITTI2015.tar
/perception/PSMNet_asset/models/__pycache__
/perception/__pycache__
/planning/__pycache__
/planning/agents/__pycache__
/planning/agents/navigation/__pycache__
/planning/agents/tools/__pycache__
/planning2/__pycache__
/planning2/agents/__pycache__
/planning2/agents/navigation/__pycache__
/planning2/agents/tools/__pycache__